.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}

.mat-card {
    bottom: 10%;
    width: 350px;
    border-radius: 5px;
}

.mat-form-field, .mat-raised-button {
    width: 100%;
    margin: 0 0 10px 0;
}

.mat-raised-button {
    margin-top: 30px;
}

.mat-card-title {
    padding-bottom: 20px;
}